body {
    margin :0;
}

nav a:hover {
    color : #034BFF;
}
nav ul {
        list-style-type: none;

    display : flex;
    flex-direction : row;
    justify-content : space-between;

    
}
nav {
        width : 60%; 

}
/* nav ul li{
    list-style-type: none;
    display: inline;
} */
header {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.hero {
    display : grid;
    grid-template-columns: 1fr 1fr;
    color : #FFFFFF;

    
}
.title {
    background : #08111D;
    padding: 5%;
}
.youcode_girl{
        background : #08111D;

}

#etudiante{
    width: 100%;
    height : 100%
}

.youcode_title{
    text-decoration: none;
    color : #0A1222;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color : #0A1222;
}

.rejoindre{
    background: #034BFF;
    margin : 15px;
    padding-left: 35px;
    padding-right: 35px;

    border-radius: 10px;
    text-decoration: none;
    color : #FFFFFF;
}

/* html {
  font-size: 100%;
} */
.title h1{
    font-size: 5rem;
    font-family: "Arial Black";

    
}

.life-double-tilde{
    display : flex;
    flex-direction: row;
    
}

.life{
    color : #034BFF;
}

.double-tilde{
    color : #C7F64A;
}

.vie-etudiante{

    font-family: "Arial Black";
}

.decouvrir-campus{
    background: #034BFF;
    margin : 15px;
    padding : 10px 10px;

    border-radius: 5%;
    text-decoration: none;
    color : #FFFFFF;
}

.evenement{

        background: #0A1222;
    margin : 15px;
    padding : 10px 10px;

    border-radius: 5%;
    text-decoration: none;
    color : #FFFFFF;
    border : solid #8EABFF;
}