nav a:hover {
    color : #034BFF;
}
nav ul li{
    list-style-type: none;
    display: inline;
}
header {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
