body {
    margin :0;
}

nav a:hover {
    color : #034BFF;
}
nav ul li{
    list-style-type: none;
    display: inline;
}
header {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.hero {
    display : grid;
    grid-template-columns: 1fr 1fr;
    color : #FFFFFF;

    
}
.title {
    background : #08111D;
}
.youcode_girl{
        background : #08111D;

}
/* .youcode_girl{
    outline: 1px dashed blue;
    background: pink;
    display : grid;
    grid-template-columns: 1fr;
    justify-items: end;
    
} */
#etudiante{
    width: 100%;
    height : 100%
}